# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.github                    export-ignore
/.phpunit.cache             export-ignore
/build                      export-ignore
/database/sqlite.database   export-ignore
/docs                       export-ignore
/resources/views/tests      export-ignore
/tests                      export-ignore
/vendor                     export-ignore
/.editorconfig              export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.php-cs-fixer.cache        export-ignore
/.php-cs-fixer.php          export-ignore
/phpunit.result.cache       export-ignore
/phpstan.neon               export-ignore
/phpunit.xml.dist           export-ignore
/psalm.xml                  export-ignore
/psalm.xml.dist             export-ignore
/testbench.yaml             export-ignore
