parameters:
	ignoreErrors:
		-
			message: '#^Offset ''1'' on array\<string, non\-empty\-list\> in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: src/DataTableComponent.php

		-
			message: '#^Offset ''99'' on array\<string, non\-empty\-list\> in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/DataTableComponent.php

		-
			message: '#^Offset ''99'' on non\-empty\-array\<1\|string, list\> in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/DataTableComponent.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTableComponent.php

		-
			message: '#^Property Rappasoft\\LaravelLivewireTables\\DataTableComponent\:\:\$model has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/DataTableComponent.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/View/Components/FilterPill.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Views/Action.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Views/Column.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Views/Filter.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,string\>\:\:filter\(\) expects \(callable\(string, int\)\: bool\)\|null, Closure\(mixed\)\: int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Views/Filters/MultiSelectDropdownFilter.php

		-
			message: '#^Unable to resolve the template type TMapWithKeysKey in call to method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:mapWithKeys\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Views/Filters/MultiSelectDropdownFilter.php

		-
			message: '#^Unable to resolve the template type TMapWithKeysValue in call to method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:mapWithKeys\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Views/Filters/MultiSelectDropdownFilter.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,string\>\:\:filter\(\) expects \(callable\(string, int\)\: bool\)\|null, Closure\(mixed\)\: int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Views/Filters/MultiSelectFilter.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,string\>\:\:filter\(\) expects \(callable\(string, int\)\: bool\)\|null, Closure\(mixed\)\: int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Views/Filters/NumberRangeFilter.php

		-
			message: '#^Unable to resolve the template type TMapWithKeysKey in call to method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:mapWithKeys\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Views/Filters/SelectFilter.php

		-
			message: '#^Unable to resolve the template type TMapWithKeysValue in call to method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:mapWithKeys\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Views/Filters/SelectFilter.php
