<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="false"
         cacheResult="false" 
         executionOrder="random" 
         failOnRisky="false" 
         failOnEmptyTestSuite="false" 
         beStrictAboutOutputDuringTests="true" >
    <testsuites>
        <testsuite name="Laravel Livewire Tables Unit Test Suite">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Laravel Livewire Tables Visuals Test Suite">
            <directory>tests/Visuals</directory>
        </testsuite>
        <testsuite name="Laravel Livewire Tables Localisations Unit">
            <directory>tests/Localisations/Unit</directory>
        </testsuite>
        <testsuite name="Laravel Livewire Tables Localisations Presence">
            <directory>tests/Localisations/Presence</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
