on:
  release:
    types: [published]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Package Releases
        uses: SethCohen/github-releases-to-discord@latest
        env: 
          WEBHOOK_DISCORD_RELEASE_URL: ${{ secrets.WEBHOOK_DISCORD_RELEASE_URL }} 
        with:
          webhook_url: $WEBHOOK_DISCORD_RELEASE_URL
          color: "2105893"
          username: "GitHub Release-Bot"
          avatar_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          content: "||@everyone||"
          footer_title: "Release ChangeLog"
          footer_icon_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          footer_timestamp: true